aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
APScheduler
asgiref
attrs
beautifulsoup4
bitarray
black
blinker
bs4
certifi
cffi
channels
charset-normalizer
ckzg
click
cmudict
cryptography
cytoolz
Django
djangorestframework
djangorestframework_simplejwt
dnspython
docstring-to-markdown
dominate
drf-spectacular
EasyProcess
email_validator
entrypoint2
environ
eth_abi
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
fastapi
Flask
Flask-Bootstrap
flask-cors
frozenlist
h11
hexbytes
idna
importlib_metadata
importlib_resources
inflection
itsdangerous
jedi
jeepney
Jinja2
jsonschema
jsonschema-specifications
llvmlite
MarkupSafe
MouseInfo
mss
multidict
mypy
mypy_extensions
mysql-connector-python
nodeenv
numba
numpy
outcome
packaging
parsimonious
parso
pathspec
pillow
pip
platformdirs
pluggy
pronouncing
propcache
PyAutoGUI
pycairo
pycparser
pycryptodome
pydantic
pydantic_core
PyGetWindow
PyGObject
PyJWT
pylsp-mypy
pymongo
PyMsgBox
PyMySQL
pyOpenSSL
pyperclip
PyRect
pyright
pyscreenshot
PyScreeze
PySocks
python-dotenv
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python3-xlib
pytoolconfig
pytweening
pyunormalize
PyYAML
referencing
regex
requests
rlp
rope
rpds-py
scipy
selenium
sniffio
sortedcontainers
soupsieve
sqlparse
starlette
tk
toolz
trio
trio-websocket
types-requests
typing_extensions
typing-inspection
tzlocal
ujson
uritemplate
urllib3
uvicorn
visitor
web3
webdriver-manager
websocket-client
websockets
Werkzeug
wsproto
yarl
zipp
flask_swagger_ui
flask_limiter
firebase_admin
pandas
graphene
ariadne
dotenv
httpx
psycopg[binary]
bcrypt
tb_rest_client
redis[hiredis]
